#block_page{
    width: 50%;
    margin: auto;
    text-align: center;
}

form{
    text-align: left;
    border: 1px solid black;
    padding: 15px;
}

.warning{
    color: red;
}

.champs{
    width: 80%;
    /* height: 100px; */
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

label, textarea {
    vertical-align: middle;
}

.champs label, .label{
    width: 30%;
    display: inline-block;
}
.champs input{
    width: 150px;
    display: inline-block;
}

.champs .warning{
    display: inline-block;
}

.label select{
    display: block;
}

#adresse{
    resize: none;
}
.select_multiple{
    width: 150px;
    /* box-sizing: border-box; */
}

.select_multiple option{
    width: 150px;
}

#boutons{
    text-align: center;
}

#boutons input{
    width: 30%;
    margin: auto;
}
